body{
    background-color: #495159;
}


.tag p {
	display: inline;
    border: solid;
    border-color: grey;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background: gray;
    font-size: 20px;
    color: white;
    margin-right: 4px;
}

.contentbox{
    margin-left: 10%;
    margin-right: 10%;
}

.contentbox h1{
    font-size: 35px;
    color: white;
}

.contentbox p{
    color: white;
}