.project-cell {
  font-family: 'Roboto Mono', monospace;
  color: white;
  display: inline-block;
  padding: .5rem 1.5rem;
  margin-bottom: 1rem;
  border: .2rem solid #32343c;
  border-radius: .6rem;
  position: relative;
}



.cell-display{
	display: flex;
	justify-content: space-evenly;
	padding-right: 500px;
}

.header-box {
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  display: inline-block;
  padding: .5rem 1.5rem;
  margin-bottom: 1rem;
  border: .2rem solid #32343c;
  border-radius: .6rem;
  position: relative;
  bottom: 0;
}

.htmltag{
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  display: inline-block;
  padding: .5rem 1.5rem;
  margin-bottom: 1rem;
  border: .2rem solid #32343c;
  border-radius: .6rem;
  position: relative;
  bottom: 0;
}

.bottompage{
	color: #5a5a5a;
	font-size: 12px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 630px;
}