.container{
	display: flex; 
  flex-direction: row;
  /*Flex disables the copying of dimensions for other page components*/
}


.content-title{
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  display: inline-block;
  
  padding: .5rem 1.5rem;
  margin-bottom: 1rem;

  border: .2rem solid #32343c;
  border-radius: 10rem;
  background-color: #32343c;
  bottom: 0;
}

.content-title a{
	color: #ebcb8b;
}


.project-cell {
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
  border: .2rem solid #32343c;
  border-radius: .6rem;
  margin-left: 50px;
}

/*Primary*/
/*@media screen and (min-width: 480px){
  .container{

  }
}*/

/*Other Viewports*/
@media screen and (max-width: 480px){
  .container{
    display: flex;
    flex-direction: column;
  }
}